* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.HomeMain {
  background-color: rgb(255, 255, 255);
  position: relative;
  min-width: 980px;
}
.HomeMainList {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.ListCategory {
  display: flex;
  position: relative;
}
.ListCategory1 {
  display: flex;
  flex: 2 1 0%;
  border-radius: 2px;
  border: 1px hidden;
  outline: none;
}
.Image1 {
  display: block;
  object-fit: contain;
  align-items: flex-start;
}
.Image1-image {
  width: 100%;
  height: 100%;
}
.ListCategory2 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 0%;
  border: 1px hidden;
  outline: none;
}
.ListCategory2-image {
  display: block;
  position: relative;
  border-radius: 1px;
  flex: 1 1 50%;
  margin-left: 1px;
}
.Image2 {
  display: block;
  position: relative;
  object-fit: contain;
  flex: 1 1 50%;
}
.Image2-image {
  width: 100%;
  height: 100%;
}
.ListIcon {
  display: flex;
  position: relative;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.IconItem {
  display: flex;
  position: relative;
  margin-left: 2px;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
}
.IconItem-Image {
  width: 45px;
  height: 45px;
  margin: 18px auto 8px;
}
.IconItem-image {
  height: 100%;
  object-fit: contain;
}
.IconItem-text {
  color: rgb(109, 85, 120);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  white-space: pre-line;
  word-break: break-word;
  overflow: hidden;
  text-align: center;
}
